<div class="columns">
  <div class="column is-1">

  </div>
  <div class="column is-2">
    <figure class="image is-squared">
      <img class="round mx-4" [src]="details.product.imageUrl" alt="" />
    </figure>
  </div>
  <div class="column is-3 is-flex is-align-content-center is-align-items-center">
    <h1 class="title is-size-4">{{ details.product.name }}</h1>
  </div>
  <div class="column is-2 is-flex is-align-content-flex-center is-justify-content-center is-align-items-center">
    <h1 class="title is-size-4 color-orange"><i class="fa-solid fa-dollar-sign mr-1"></i>{{ price }}</h1>
  </div>
  <div class="column is-2 is-flex is-align-content-center is-justify-content-center is-align-items-center">
    <button (click)="lessButton()" class="button is-light are-large is-rounded py-4 px-3">
      <i class="fa-solid fa-minus"></i>
    </button>
    <h1 class="title is-size-4 color-darkblue m-3">{{ details.amount }}</h1>
    <button (click)="addButton()" class="button is-light are-large is-rounded py-4 px-3">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <div class="column is-2 is-flex is-align-content-center is-align-items-center">
    <h1 class="title is-size-4 color-orange"><i class="fa-solid fa-dollar-sign mr-1"></i>{{ subtotal }}</h1>
  </div>
</div>
<hr />
