<div class="column is-flex is-justify-content-center is-align-items-center is-align-content-center">
    <div class="header-text has-text-centered-mobile">
        <p>

        </p>
        <p class="primary-text title is-1-desktop is-3-tablet is-size-2-mobile">
            Welcome to Phonedepot by Amdocs!
        </p>
      </div>
</div>

<div class="column is-flex is-justify-content-center is-align-items-center is-align-content-center is-flex-grow-4">
  <section class="section is-medium">
    <div class="card card-login p-4">
      <div [formGroup]="verifyForm" class="form">
        <figure class="imagen-logo-login">
            <img src="/assets/logo.png" alt="imagen" />
          </figure>
          <h1 class="is-size-4 mt-3 has-text-centered">Verify your OTP & Reset Password</h1>
        <br />

        <p class="control has-icons-left has-icons-right my-3">
            <input formControlName="otp" class="input is-rounded border-orange" type="password" placeholder="OTP" />
            <span class="icon is-small is-left">
              <i class="fa-solid fa-lock"></i>
            </span>
          </p>

        <p class="control has-icons-left my-3">
            <input formControlName="password" class="input is-rounded border-orange" type="password" placeholder="Password" />
            <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
            </span>
        </p>

        <p class="control has-icons-left my-3">
            <input
            formControlName="confirmPassword"
            class="input is-rounded border-orange"
            type="password"
            placeholder="Confirm Password"
            />
            <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
            </span>
        </p>
      </div>

      <div class="buttons is-justify-content-center">
        <button
          (click)="resetPassword()"
          [disabled]="!verifyForm.valid"
          class="button is-rounded background-color-orange has-text-white is-size-5 m-3"
        >
          Reset Password
        </button>
      </div>

      <div class="has-text-centered">
        <span *ngIf="!verifyForm.valid" class="form-text has-text-danger">Mandatory Fields Not Filled or Incorrect.</span>
        <p *ngIf="!verifyForm.valid && verifyForm.get('password')?.hasError('minlength')" class="form-text has-text-danger">Password must be minimum of 6 characters.</p>
      </div>
    </div>
  </section>
</div>
